.footer {
  display: flex;
  flex-flow: wrap;
  background-color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
}

.footer__logo {
  position: relative;
  margin-top: 40px;
}

.footer__logo::after {
  width: 280px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.footer__list {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
  position: relative;
}

.footer__list::after {
  width: 280px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

.footer__link {
  background-position: 50%;
  width: 28px;
  height: 22px;
  display: block;
  transition: all 1.3s;
}


.footer__link--vk::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_vkontakte");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}


.footer__link--yt::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_youtube");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}


.footer__link--tg::before {
  content: "";
  mask-image: url("../../icons/stack.svg#social_telegram");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  display: block;
  background-color: #666666;
  width: 28px;
  height: 22px;
}

.footer__link:hover::before {
  background-color: $basic-green;
}

.footer__link:active::before {
  background-color: $basic-green;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .footer {
    flex-direction: row;
    align-items: center;
    margin: 55px 0;
    justify-content: space-between;
    background-color: $basic-white;
  }

  .footer__logo {
    margin-top: 0;
  }

  .footer__logo::after {
    display: none;
  }

  .footer__list {
    margin-top: 0;
  }

  .footer__list::after {
    display: none;
  }
}
