.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $basic-green;
  margin-top: 14px;
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
}

.hero__slogan {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}

.hero__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;
  padding: 10px 0;
  width: 280px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hero__title {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    max-width: 440px;
  }

  .hero__slogan {
    color: $basic-black;
    font-size: 20px;
  }
}
