.navigation {
  align-items: center;
  margin-top: 38px;
}

.navigation__list {
  display: flex;
  flex-flow: column wrap;
  gap: 46px;
  align-items: center;
}

.navigation__item {
  position: relative;
}

.navigation__item::after {
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.navigation__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}

.navigation--closed {
  display: none;
}

// tablet

@media (min-width: $tablet-width) {
  .navigation {
    margin: 0;
    display: flex;
  }

  .navigation__list {
    flex-flow: row wrap;
    gap: 33px;
    max-width: 465px;
  }

  .navigation__item {
    text-align: start;
  }

  .navigation__item::after {
    content: "";
    display: none;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 24px;
    position: relative;
  }

  .navigation__link--current::after {
    content: "";
    background-color: #68b738;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    max-width: 600px;
  }

  .navigation__item {
    padding-bottom: 10px;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $basic-white;
  }

  .navigation__link--catalog {
    color: #111111;
  }

  .navigation__link--current::after {
    content: "";
    background-color: $basic-white;
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
  }

  .navigation__link--catalog.navigation__link--current::after {
    background-color: $basic-green;
  }
}
