.navigation {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.navigation__wrapper::after {
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  display: block;
  left: -20px;
  top: 50px;
}

.navigation__logo {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
  gap: 58px;
}

.navigation__toggle {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#navigation_menu-burger-mob");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;
  width: 24px;
  height: 24px;
}

.navigation__toggle--close {
  background-image: url("../../icons/stack.svg#navigation_close-menu-mob");
}

.navigation__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 46px;
}

.navigation__item {
  position: relative;
}

.navigation__item::after {
  width: 320px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

.navigation__link {
  font-family: $primary-font;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}
