// .programm {

// }

// .programm__list {

// }

.programm__item {
  background-color: #f2f2f2;
}

.programm__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.programm__desc {
  font-family: $primary-font;
  color: #000000;
}

.programm__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
