.result {
  background-color: #eaeaea;
}

.result__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  margin: 25px 0 50px;
}

.result__desc {
  font-family: $primary-font;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0 auto 20px;
}

.result__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.result__cost {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.result__cost-title {
  font-family: $secondary-font;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.result__cost-price {
  font-family: $secondary-font;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .result {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    padding-top: 45px;
    padding-bottom: 101px;
  }

  .result__title {
    margin-top: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .result__desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 55px;
  }

  .result__wrapper {
    justify-content: space-between;
    margin-bottom: 99px;
  }

  .result__cost {
    flex-flow: column wrap;
    row-gap: 9px;
    margin: 0;
  }

  .result__cost-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }

  .result__cost-price {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: end;
  }
}

@media (min-width: $desktop-width) {
  .result {
    display: flex;
    flex-direction: row;
  }

  .result__desc {
    width: 436px;
    margin-left: 0;
  }

  .result__wrapper {
    flex-direction: column;
  }

  .result__cost {
    margin-top: 55px;
    flex-direction: row;
    gap: 53px;
    justify-content: flex-start;
    align-items: center;
  }
}
