

.subscribe__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  position: relative;
  width: fit-content;
  background-color: $basic-white;
  box-shadow: -40px 0 0 0 $basic-white, 40px 0 0 0 $basic-white;
}

.subscribe__title::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  box-shadow: 100vw 0 0 0 $basic-green;
  z-index: -1;
}


.subscribe__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.subscribe__desc {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-align: center;
}

.subscribe__input {
  color: #444444;
  text-transform: uppercase;
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: 1px solid #e7e7e7;
  padding: 12px 13px;
  font-family: "Oswald", sans-serif, "Arial";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease-in-out;
  width: 254px;
}

.subscribe__button {
  color: #ffffff;
  background-color: #68b738;
  width: 280px;
  font-size: 20px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .subscribe {
    padding-left: 70px;
    padding-right: 70px;
  }

  .subscribe__title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
  }

  .subscribe__desc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  .subscribe__form {
    flex-direction: row;
    gap: 0;
  }

  .subscribe__input {
    width: 350px;
  }
}
